In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix

# Question 1

In [ ]:
data = pd.read_csv('Zoo.csv')
data.head()

  animal name  hair  feathers  eggs  milk  ...  legs  tail  domestic  catsize  type
0    aardvark     1         0     0     1  ...     4     0         0        1     1
1    antelope     1         0     0     1  ...     4     1         0        1     1
2        bass     0         0     1     0  ...     0     1         0        0     4
3        bear     1         0     0     1  ...     4     0         0        1     1
4        boar     1         0     0     1  ...     4     1         0        1     1

[5 rows x 18 columns]

In [ ]:
data.shape

(101, 18)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  type         101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [ ]:
data1 = data.iloc[:,1:]
data1.head()

   hair  feathers  eggs  milk  airborne  ...  legs  tail  domestic  catsize  type
0     1         0     0     1         0  ...     4     0         0        1     1
1     1         0     0     1         0  ...     4     1         0        1     1
2     0         0     1     0         0  ...     0     1         0        0     4
3     1         0     0     1         0  ...     4     0         0        1     1
4     1         0     0     1         0  ...     4     1         0        1     1

[5 rows x 17 columns]

In [ ]:
X = data1.iloc[:,0:16]
X.head()

   hair  feathers  eggs  milk  airborne  ...  fins  legs  tail  domestic  catsize
0     1         0     0     1         0  ...     0     4     0         0        1
1     1         0     0     1         0  ...     0     4     1         0        1
2     0         0     1     0         0  ...     1     0     1         0        0
3     1         0     0     1         0  ...     0     4     0         0        1
4     1         0     0     1         0  ...     0     4     1         0        1

[5 rows x 16 columns]

In [ ]:
Y = data1.iloc[:,16]
Y.head()

0    1
1    1
2    4
3    1
4    1
Name: type, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42) #Using Train-Test Validation to check the accuracy of model.

In [ ]:
n_neighbors = np.array(range(2,20)) # Performing Grid Search CV to find the optimum Number of Neighbors.
param_grid = dict(n_neighbors=n_neighbors)
model = KNeighborsClassifier()
grid = GridSearchCV(model,param_grid)
grid.fit(X,Y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

GridSearchCV(cv=None, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
print('The optimum number of neighbors is',grid.best_params_)
print('The best score is',grid.best_score_)

The optimum number of neighbors is {'n_neighbors': 3}
The best score is 0.9204761904761904

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3) #Preparing the KNN model
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
arr = knn.predict(x_test)

In [ ]:
pd.Series(arr).value_counts()

1    12
6     3
4     3
2     2
7     1
dtype: int64

In [ ]:
pd.crosstab(y_test,arr)

col_0   1  2  4  6  7
type
1      12  0  0  0  0
2       0  2  0  0  0
3       0  0  1  0  0
4       0  0  2  0  0
6       0  0  0  3  0
7       0  0  0  0  1

In [ ]:
print('Accuracy is',np.mean(y_test==arr))

Accuracy is 0.9523809523809523

In [ ]:
x_test['pred'] = arr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
x_test

    hair  feathers  eggs  milk  airborne  ...  legs  tail  domestic  catsize  pred
84     1         0     0     1         0  ...     2     1         0        0     1
55     1         0     0     1         0  ...     4     1         0        1     1
66     0         0     0     1         0  ...     0     1         0        1     1
67     1         0     0     1         0  ...     4     1         0        1     1
45     1         0     0     1         0  ...     4     1         0        1     1
39     1         0     1     0         1  ...     6     0         1        0     6
22     1         0     0     1         0  ...     4     1         0        1     1
44     1         0     0     1         0  ...     4     1         0        1     1
10     1         0     0     1         0  ...     4     1         0        1     1
0      1         0     0     1         0  ...     4     0         0        1     1
18     0         0     1     0         0  ...     0     1         0        1     4
30     0         0     1     0         1  ...     6     0         0        0     6
97     1         0     1     0         1  ...     6     0         0        0     6
33     0         1     1     0         1  ...     2     1         0        0     2
77     0         0     1     0         0  ...     0     0         0        0     7
4      1         0     0     1         0  ...     4     1         0        1     1
93     1         0     0     1         1  ...     2     1         0        0     1
78     0         1     1     0         1  ...     2     1         0        0     2
12     0         0     1     0         0  ...     0     1         0        0     4
31     1         0     0     1         0  ...     4     1         1        1     1
76     0         0     0     0         0  ...     0     1         0        0     4

[21 rows x 17 columns]

# Question 2

In [ ]:
glass = pd.read_csv('glass.csv')
glass.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [ ]:
glass.shape

(214, 10)

In [ ]:
glass[glass.duplicated()]

         RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
39  1.52213  14.21  3.82  0.47  71.77  0.11  9.57  0.0  0.0     1

In [ ]:
glass = glass.drop_duplicates().reset_index()

In [ ]:
glass.shape

(213, 11)

In [ ]:
glass.head()

   index       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0      0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1      1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2      2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3      3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4      4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [ ]:
glass = glass.drop(columns='index')

In [ ]:
glass.shape

(213, 10)

In [ ]:
X1 = glass.iloc[:,0:9]
X1.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [ ]:
Y1 = glass.iloc[:,9]
Y1.head()

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [ ]:
n_neighbors = np.array(range(1,20))
param_grid = dict(n_neighbors = n_neighbors)
model1 = KNeighborsClassifier()
grid1 = GridSearchCV(model1,param_grid)
grid1.fit(X1,Y1)

GridSearchCV(cv=None, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
grid1.get_params().keys()

dict_keys(['cv', 'error_score', 'estimator__algorithm', 'estimator__leaf_size', 'estimator__metric', 'estimator__metric_params', 'estimator__n_jobs', 'estimator__n_neighbors', 'estimator__p', 'estimator__weights', 'estimator', 'iid', 'n_jobs', 'param_grid', 'pre_dispatch', 'refit', 'return_train_score', 'scoring', 'verbose'])

In [ ]:
print('the optimum number of neighbors is',grid1.best_params_)
print('the best score is',grid1.best_score_)

the optimum number of neighbors is {'n_neighbors': 1}
the best score is 0.64828349944629

In [ ]:
kfold = KFold(n_splits=10)

In [ ]:
knn1 = KNeighborsClassifier(n_neighbors=1)
result = cross_val_score(knn1,X1,Y1,cv=kfold) #Using K-Fold Cross Validation to check the model.

In [ ]:
print(result.mean())

0.5590909090909091

In [ ]:
knn1.fit(X1,Y1)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [ ]:
pred = knn1.predict(X1)

In [ ]:
pd.crosstab(Y1,pred)

col_0   1   2   3   5  6   7
Type
1      69   0   0   0  0   0
2       0  76   0   0  0   0
3       0   0  17   0  0   0
5       0   0   0  13  0   0
6       0   0   0   0  9   0
7       0   0   0   0  0  29

In [ ]:
pd.Series(pred).value_counts()

2    76
1    69
7    29
3    17
5    13
6     9
dtype: int64

In [ ]:
print('Accuracy is',np.mean(Y1==pred)*100)

Accuracy is 100.0

In [ ]:
glass['predicted'] = pred

In [ ]:
glass

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type  predicted
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1          1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1          1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1          1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1          1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1          1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...        ...
208  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7          7
209  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7          7
210  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7          7
211  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7          7
212  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7          7

[213 rows x 11 columns]